@model CatalogPages;

@{
    ViewData["Title"] = "Remove Pages From Catalog";
    Layout = "_LayoutAdmin";
}

<p>
    <h3>Remove Pages From Catalog</h3>
</p>

<form asp-action="RemovePagesFromCatalog" method="post">
    <div class="form-group">
        <label asp-for="CatalogId">CatalogId:</label>
        <input class="form-control" asp-for="CatalogId" />
    </div>
    <div class="form-group">
        <label asp-for="PageId">PageId:</label>
        <input class="form-control" asp-for="PageId" />
    </div>
    <button type="submit" class="btn btn-outline-danger btn-sm">Remove</button>
</form>



