
@{
    ViewData["Title"] = "Tak for din besked";
}

    <div class="text-center p-3">

        <!--Spacer-->
        <div style="width:100%; height:15px;"></div>

        <h1 class="display-5">
            Tak for din besked
        </h1>
        <p class="lead">
            Vi vender tilbage til dig, så hurtigt vi kan!
        </p>

        <!--Spacer-->
        <div style="width:100%; height:20px;"></div>

        <p class="lead">
            Som en bonus, er der her et billede af en hundehvalp :)
        </p>
    </div>

<div class="text-center">
    <img src="~/images/kontakt/tak_for_besked.jpg" class="img-fluid shadow-lg border-white"  style="border:10px solid #FFF;"/>
</div>

<!--Spacer-->
<div style="width:100%; height:50px;"></div>
