<footer class="border-top text-white footer_box">

    <div class="container row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="p-3">
                <partial name="_FooterMailSignupPartial" />
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
            <div class="p-3">
                <h2>Links</h2>
                <p>
                    <a class="text-white footer_box_link" asp-area="" asp-controller="Home" asp-action="Index">Forsiden</a>
                    <br />
                    <a class="text-white footer_box_link" asp-area="" asp-controller="Nyheder" asp-action="Index">Nyheder</a>
                    <br />
                    <a class="text-white footer_box_link" href="/Kategorier/Bolig-Indretning">Bolig & Indretning</a>
                    <br />
                    <a class="text-white footer_box_link" href="/Kategorier/Film-Musik">Film & Musik</a>
                    <br />
                    <a class="text-white footer_box_link" href="/Kategorier/Familie-Fritid">Familie & Fritid</a>
                    <br />
                    <a class="text-white footer_box_link" href="/Kategorier/Mad-Drikke">Mad & Drikke</a>
                    <br />
                    <a class="text-white footer_box_link" href="/Kategorier/Pleje-Kosmetik">Pleje & Kosmetik</a>
                    <br />
                    <a class="text-white footer_box_link" href="/Kategorier/Sport-Traening">Sport & Træning</a>
                    <br />
                    <a class="text-white footer_box_link" href="/Kategorier/Sundhed-Velvaere">Sundhed & Velvære</a>
                    <br />
                    <a class="text-white footer_box_link" href="/Kategorier/Teknik-Elektronik">Teknik & Elektronik</a>
                    <br />
                    <a class="text-white footer_box_link" href="/Kategorier/Toej-Mode">Tøj & Mode</a>
                    <br />
                    <a class="text-white footer_box_link" href="/Kategorier/Konkurrencer">Konkurrencer</a>
                </p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
            <div class="p-3">
                <h2>Kundeservice</h2>
                <p>
                    <a class="text-white footer_box_link" asp-area="" asp-controller="OmOs" asp-action="Index">Om Kuponkataloget</a>
                    <br />
                    <a class="text-white footer_box_link" asp-area="" asp-controller="Kontakt" asp-action="Index">Kontakt</a>
                    <br />
                    <a class="text-white footer_box_link" asp-area="" asp-controller="Sitemap" asp-action="Index">Sitemap</a>
                    <br />
                    <a class="text-white footer_box_link" asp-area="" asp-controller="BetingelserPivatlivspolitik" asp-action="Index">Betingelser og Privatlivspolitik</a>
                </p>
            </div>
        </div>
    </div>

</footer>
