@model Page

<div class="col-sm-6 col-md-6 col-lg-4">
    <div class="card mb-4 text-center shadow">

        <a href="/Kuponer/@Model.Moniker">
            <img src="@Model.ImgUrl" class="card-img-top" alt="@Model.Title">
        </a>

        <div class="card-body">

            <h3 class="card-title">@Model.Title</h3>

            <a href="/Kuponer/@Model.Moniker" class="btn btn-primary">Læs mere</a>

        </div>
    </div>
</div>