
@{
    ViewData["Title"] = "Lukket Kampagne";
}

@section metatags{<meta name="robots" content="noindex">}



<div class="text-center p-3">

    <!--Spacer-->
    <div style="width:100%; height:15px;"></div>

    <h1 class="display-5">
        Kampagnen er desværre lukket
    </h1>
    <p class="lead">
        Vi beklager ulejligheden
    </p>

    <!--Spacer-->
    <div style="width:100%; height:200px;"></div>

</div>

