
@{
    ViewData["Title"] = "Tak for din tilmelding";
}

@section metatags{<meta name="robots" content="noindex">}

<div class="text-center p-3">

    <!--Spacer-->
    <div style="width:100%; height:15px;"></div>

    <h1 class="display-5">
        Tak for din tilmelding
    </h1>
    <p class="lead">
        Vi sender dig en besked når der kommer nyt katalog
        <i class="material-icons md-24 md-dark">mood</i>
    </p>

    <div style="width:100%; height:200px;"></div>
</div>

