
@{
    ViewData["Title"] = "Betingelser og Privatlivspolitik";
}

    <div class="text-left p-3">

        <!--Spacer-->
        <div style="width:100%; height:15px;"></div>

        <h1 class="display-5">Betingelser og Privatlivspolitik</h1>
        <p class="lead">
            Kuponkataloget tilbyder gratis annoncer, tilbud og mulighed for sammenligning af priser inden for udvalgte kategorier.
        </p>

        <hr />

        <h3>Ansvarsfraskrivelse</h3>
        <p>
            Kuponkataloget modtager annoncer/tilbud enten via et automatisk live feed, eller via enkelte udvalgte annoncer/tilbud. Alle oplysninger trækkes automatisk eller tages direkte fra annoncørernes eget materiale.
            Vi kan derfor på ingen måde stå til ansvar for indholdet, herunder også fejl og forkert oplyste priser. Vi beder altid brugeren om at læse forhandlerens betingelser igennem, inden der foretages køb, laves tilmelding eller andet.
        </p>

        <h3>Cookies</h3>
        <p>
            Websitet anvender cookies med det formål at genkende brugeren, huske indstillinger, udføre statistik og målrette annoncer.
            <br />
            Det er muligt at slette eller blokere for cookies.
            <a href="http://minecookies.org/cookiehandtering" target="_blank">Se vejledning hos MineCookies her</a>
        </p>

        <h3>Personoplysninger</h3>
        <p>
            Personoplysninger er alle slags informationer, der i et eller andet omfang kan henføres til dig. Når du benytter vores website, indsamler og behandler vi en række sådanne informationer. Det sker f.eks. ved alm. tilgang af indhold, hvis du tilmelder dig vores nyhedsbrev, eller registrerer dig som bruger.
            <br /><br />
            Vi indsamler og behandler typisk følgende typer af oplysninger: Et unikt ID og tekniske oplysninger om din computer, tablet eller mobiltelefon, dit IP-nummer, geografisk placering, samt hvilke sider du klikker på (interesser). I det omfang du selv giver eksplicit samtykke hertil og selv indtaster informationerne behandles desuden: navn og e-mail. Det vil typisk være i forbindelse med oprettelse af login.
        </p>

        <h3>Sikkerhed</h3>
        <p>
            Vi har truffet tekniske og organisatoriske foranstaltninger mod, at dine oplysninger hændeligt eller ulovligt bliver slettet, offentliggjort, tabt, forringet eller kommer til uvedkommendes kendskab, misbruges eller i øvrigt behandles i strid med lovgivningen.
        </p>

        <h3>Indsigt</h3>
        <p>
            Du har ret til at få oplyst hvilke personoplysninger, vi behandler om dig. Du kan desuden til enhver tid gøre indsigelse mod, at oplysninger anvendes. Du kan også tilbagekalde dit samtykke til, at der bliver behandlet oplysninger om dig.
            Hvis du ønsker at få slettet dine personoplysninger, kan det ske under menupunktet “Min konto” og så “Personlige data”, når du er logget ind. Du kan også kontakte os via vores 
            <a class="" asp-area="" asp-controller="Kontakt" asp-action="Index">kontaktformular</a>
        </p>

        <h3>Ejerskab</h3>
        <p>
            Kuponkataloget er ejet af:
            <partial name="_AddressPartial" />
        </p>

    </div>

